name: AssistPurchase

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:

  build:

    strategy:
      matrix:
        configuration: [Debug]

    runs-on: windows-latest  # For a list of available runner types, refer to
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    env:
      Solution_Name: AssistPurchase.sln    

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    
    - name: Build with dotnet
      run: dotnet build --configuration Release
      
    - name:  Run tests
      run: dotnet test --no-build --configuration Release
      
    - name: Commit output files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add *
        git commit -m "Add changes" -a
        
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}  
    
    - name:  Install resharper
      run: dotnet tool install -g JetBrains.ReSharper.GlobalTools
        
    - name:  Run resharper code inspection
      run: jb inspectcode AssistPurchase.sln /output=insreport.xml
    
    - name:  Run resharper duplicate code check
      run: jb dupfinder AssistPurchase.sln /output=dupreport.xml
      
    - name: Check reports
      run: powershell ./resharper.ps1
